<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Generador horarios - FISI</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>FISI - Generador de horarios</h1>
      </div>
      <form>
        <div class="row mb-3">
          <div class="col-12 col-md-3">
            <label for="carrera" class="form-label">Carrera</label>
            <select name="carrera" id="carrera" class="form-select">
              <option value="SOFTWARE">Ingeniería de Software</option>
              <option value="SISTEMAS">Ingeniería de Sistemas</option>
            </select>
          </div>
          <div class="col-12 col-md-3">
            <label for="ciclo" class="form-label">Ciclo</label>
            <select
              name="ciclo"
              id="ciclo"
              class="form-select"
              autocomplete="off"
            >
              <option selected>Selecciona un ciclo</option>
              {% for ciclo in ciclos%}
              <option value="{{ciclo}}">{{ciclo}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-12 col-md-3">
            <label for="curso" class="form-label">Curso</label>
            <select name="curso" id="curso" class="form-select">
              <option selected>Selecciona un curso</option>
            </select>
          </div>
          <div class="col-12 col-md-3">
            <label for="seccion" class="form-label">Sección</label>
            <select name="seccion" id="seccion" class="form-select">
              <option selected>Selecciona una seccion</option>
            </select>
          </div>
        </div>
      </form>
      <div class="row">
        <button type="submit" class="btn btn-primary">Agregar curso</button>
      </div>
    </div>
    <script>
      console.log("Hello there");

      const BASEURL = "https://generador-horarios.fly.dev/";

      function limpiar_opciones_select(select_id) {
        let select_item = document.getElementById(select_id);
        let options = select_item.getElementsByTagName("option");
        for (var i = options.length; i--; ) {
          select_item.removeChild(options[i]);
        }
      }

      function agregar_cursos_a_ciclo() {
        const cursosSelect = document.getElementById("curso");
        const carrera = document.getElementById("carrera").value;
        const ciclo = document.getElementById("ciclo").value;
        limpiar_opciones_select("curso");
        agregar_default_option("curso");
        agregar_default_option("seccion");
        const url = BASEURL + `cursos/get-from-ciclo/${carrera}/${ciclo}`;
        console.log(url);
        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            data.forEach((curso) => {
              const codigoCurso = curso.codigo_curso;
              const nombreCurso = curso.nombre_curso;
              const opcion = document.createElement("option");
              opcion.value = codigoCurso;
              opcion.innerText = nombreCurso;
              cursosSelect.append(opcion);
            });
          });
      }

      function agregar_secciones_a_curso() {
        const seccionSelect = document.getElementById("seccion");
        const carrera = document.getElementById("carrera").value;
        const curso = document.getElementById("curso").value;
        limpiar_opciones_select("seccion");
        agregar_default_option("seccion");
        const url = BASEURL + `secciones/get-secciones-from-curso/${curso}`;
        console.log(url);

        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            data.forEach((seccion) => {
              const codigoSeccion = seccion.codigo_seccion;
              const numeroSeccion = seccion.numero_seccion;
              const opcion = crear_opcion_de_horario(
                codigoSeccion,
                numeroSeccion,
                carrera
              );
              seccionSelect.append(opcion);
            });
          });
      }

      function crear_opcion_de_horario(codigoSeccion, numeroSeccion, carrera) {
        const url =
          BASEURL +
          `horario-seccion/get-horarios-from-seccion/${carrera}/${codigoSeccion}`;
        console.log(url);
        const opcion = document.createElement("option");
        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            const codigoSeccion = data.codigo_seccion;
            let opcion_text = "";
            data.horarios.forEach((horario) => {
              const dia = horario.dia;
              const horaInicio = horario.hora_inicio;
              const horaFin = horario.hora_fin;
              opcion_text += `G.${numeroSeccion} ${dia} ${horaInicio}:00-${horaFin}:00`;
            });
            opcion.value = codigoSeccion;
            opcion.innerText = opcion_text;
          });
        return opcion;
      }

      function agregar_default_option(select) {
        const selectElement = document.getElementById(select);
        const defaultOption = document.createElement("option");
        let textoInicial =
          select == "seccion" ? "Selecciona una " : "Selecciona un ";
        defaultOption.innerText = textoInicial + select;
        selectElement.append(defaultOption);
      }

      document.getElementById("carrera").addEventListener("change", () => {
        const selects = ["curso", "seccion"];
        selects.forEach((select) => {
          limpiar_opciones_select(select);
          agregar_default_option(select);
        });
      });
      document.getElementById("ciclo").addEventListener("change", () => {
        limpiar_opciones_select("seccion");
        agregar_cursos_a_ciclo();
      });
      document
        .getElementById("curso")
        .addEventListener("change", agregar_secciones_a_curso);
    </script>
  </body>
</html>
