<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>Generador horarios - FISI</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 style="font-weight: bold">FISI - Generador de horarios</h1>
      </div>
      <form>
        <div class="row mb-3">
          <div class="col-12 col-md-3">
            <label for="carrera" class="form-label">Carrera</label>
            <select name="carrera" id="carrera" class="form-select">
              <option selected>Selecciona una carrera</option>
              <option value="SOFTWARE">Ingeniería de Software</option>
              <option value="SISTEMAS">Ingeniería de Sistemas</option>
            </select>
          </div>
          <div class="col-12 col-md-3">
            <label for="ciclo" class="form-label">Ciclo</label>
            <select
              name="ciclo"
              id="ciclo"
              class="form-select"
              autocomplete="off"
            >
              <option selected>Selecciona un ciclo</option>
              {% for ciclo in ciclos%}
              <option value="{{ciclo}}">{{ciclo}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-12 col-md-3">
            <label for="curso" class="form-label">Curso</label>
            <select name="curso" id="curso" class="form-select">
              <option selected>Selecciona un curso</option>
            </select>
          </div>
          <div class="col-12 col-md-3">
            <label for="seccion" class="form-label">Sección</label>
            <select name="seccion" id="seccion" class="form-select">
              <option selected>Selecciona una seccion</option>
            </select>
          </div>
        </div>
      </form>
      <div class="row mb-3 d-flex justify-content-center">
        <button
          onclick="agregar_curso_escogido()"
          class="btn btn-primary"
          style="width: 40%"
        >
          Agregar curso
        </button>
      </div>
      <div class="row mb-1">
        <h2 style="text-align: center">HORARIOS</h2>
      </div>

      <div class="row">
        <div style="overflow-x: auto" id="table-container">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">HORA</th>
                {% for dia in dias%}
                <th class="text-center">{{dia}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for hora in horas%}
              <tr>
                {% set hora_loop = loop %}
                <td class="text-center">{{hora}}</td>
                {% for dia in dias%} {% set dia_loop = loop %}

                <td
                  id="{{'{}-{}'.format(hora_loop.index, dia_loop.index)}}"
                  class="text-center"
                  style="white-space: pre-wrap; word-wrap: break-word"
                ></td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      console.log("Hello there");

      const BASEURL = "https://generador-horarios.fly.dev/";
      const horariosSeccionEscogida = [];

      const colors = [
        "#fbf8cc",
        "#fde4cf",
        "#ffcfd2",
        "#f1c0e8",
        "#cfbaf0",
        "#a3c4f3",
        "#90dbf4",
        "#8eecf5",
        "#98f5e1",
        "#b9fbc0",
      ];

      let usedColors = colors;

      function limpiar_opciones_select(select_id) {
        let select_item = document.getElementById(select_id);
        let options = select_item.getElementsByTagName("option");
        for (var i = options.length; i--; ) {
          select_item.removeChild(options[i]);
        }
      }

      function limpiar_tabla_horarios() {
        for (let dia = 1; dia < 7; dia++) {
          for (let hora = 1; hora < 15; hora++) {
            let celda = document.getElementById(`${hora}-${dia}`);
            celda.innerText = "";
            celda.style.setProperty("background-color", "");
          }
        }
      }

      function get_carrera_escogida() {
        const carreraEscogida = document.getElementById("carrera").value;
        return carreraEscogida;
      }

      function get_ciclo_escogido() {
        const cicloEscogido = document.getElementById("ciclo").value;
        return cicloEscogido;
      }

      function get_curso_escogido() {
        const cursoEscogido = document.getElementById("curso").value;
        return cursoEscogido;
      }

      function get_seccion_escogida() {
        const seccionEscogida = document.getElementById("seccion").value;
        return seccionEscogida;
      }

      function agregar_default_option(select) {
        const selectElement = document.getElementById(select);
        const defaultOption = document.createElement("option");
        let textoInicial =
          select == "seccion" ? "Selecciona una " : "Selecciona un ";
        defaultOption.innerText = textoInicial + select;
        selectElement.append(defaultOption);
      }

      function agregar_cursos_a_ciclo() {
        const cursosSelect = document.getElementById("curso");
        const carrera = get_carrera_escogida();
        const ciclo = get_ciclo_escogido();
        limpiar_opciones_select("curso");
        agregar_default_option("curso");
        agregar_default_option("seccion");
        const url = BASEURL + `cursos/get-from-ciclo/${carrera}/${ciclo}`;
        console.log(url);
        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            data.forEach((curso) => {
              const codigoCurso = curso.codigo_curso;
              const nombreCurso = curso.nombre_curso;
              const opcion = document.createElement("option");
              opcion.value = codigoCurso;
              opcion.innerText = nombreCurso;
              cursosSelect.append(opcion);
            });
          });
      }

      function agregar_secciones_a_curso() {
        const seccionSelect = document.getElementById("seccion");
        const carrera = get_carrera_escogida();
        const curso = get_curso_escogido();
        limpiar_opciones_select("seccion");
        agregar_default_option("seccion");
        const url = BASEURL + `secciones/get-secciones-from-curso/${curso}`;
        console.log(url);
        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            data.forEach((seccion) => {
              const codigoSeccion = seccion.codigo_seccion;
              const numeroSeccion = seccion.numero_seccion;
              const opcion = crear_opcion_de_horario(
                codigoSeccion,
                numeroSeccion,
                carrera
              );
              seccionSelect.append(opcion);
            });
          });
      }

      function crear_texto_horario(horario, numeroSeccion) {
        const dia = horario.dia;
        const horaInicio = horario.hora_inicio;
        const horaFin = horario.hora_fin;
        const opcionText = `G.${numeroSeccion} ${dia} ${horaInicio}:00-${horaFin}:00`;
        return opcionText;
      }

      function crear_opcion_de_horario(codigoSeccion, numeroSeccion, carrera) {
        const url =
          BASEURL +
          `horario-seccion/get-horarios-from-seccion/${carrera}/${codigoSeccion}`;
        console.log(url);
        const opcion = document.createElement("option");
        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            let opcionText = "";
            data.horarios.forEach((horario) => {
              const parteTexto = crear_texto_horario(horario, numeroSeccion);
              opcionText += parteTexto;
            });
            opcion.value = codigoSeccion;
            opcion.innerText = opcionText;
          });
        return opcion;
      }

      function get_index_dia(dia) {
        const dias = {
          LUNES: 1,
          MARTES: 2,
          MIERCOLES: 3,
          JUEVES: 4,
          VIERNES: 5,
          SABADO: 6,
        };
        return dias[dia];
      }

      function getCursoColor() {
        const colorCurso = usedColors[0];
        if (usedColors.length == 1) {
          usedColors = colors;
        } else {
          usedColors.shift();
        }
        return colorCurso;
      }
      function insert_curso_in_table(
        nombreCurso,
        numeroSeccion,
        dia_index,
        hora_index,
        colorCelda
      ) {
        const celda = document.getElementById(`${hora_index - 7}-${dia_index}`);
        celda.innerText = `${nombreCurso} G.${numeroSeccion}`;
        celda.style.setProperty("background-color", colorCelda);
      }

      function agregar_curso_escogido() {
        console.log("General kenobi");
        const carreraEscogida = get_carrera_escogida();
        const codigoSeccion = get_seccion_escogida();
        const cursoSelect = document.getElementById("curso");
        const cursoEscogido =
          cursoSelect.options[cursoSelect.selectedIndex].text;
        const numeroSeccion = codigoSeccion.slice(-1);
        const url =
          BASEURL +
          `horario-seccion/get-horarios-from-seccion/${carreraEscogida}/${codigoSeccion}`;

        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            const colorCelda = getCursoColor();
            data.horarios.forEach((horario) => {
              const dia = horario.dia;
              const horaInicio = horario.hora_inicio;
              const horaFin = horario.hora_fin;
              const diaIndex = get_index_dia(dia);
              for (let hora = horaInicio; hora < horaFin; hora++) {
                insert_curso_in_table(
                  cursoEscogido,
                  numeroSeccion,
                  diaIndex,
                  hora,
                  colorCelda
                );
              }
            });
          });
      }

      document.getElementById("carrera").addEventListener("change", () => {
        const selects = ["curso", "seccion"];
        selects.forEach((select) => {
          limpiar_opciones_select(select);
          limpiar_tabla_horarios();
          agregar_default_option(select);
        });
      });

      document.getElementById("ciclo").addEventListener("change", () => {
        limpiar_opciones_select("seccion");
        agregar_cursos_a_ciclo();
      });

      document
        .getElementById("curso")
        .addEventListener("change", agregar_secciones_a_curso);
    </script>
  </body>
</html>
